*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;/* 1rem = 10px*/
}
body{
    font-size: 1.4rem;/* soit 14px*/
    font-family: arial;
    color: white;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,70,83,1) 35%, rgba(0,212,255,1) 100%);
}

.banniere-titre{
    margin-bottom: 1rem;
}

#todo-list{
    
    color: #1E2337;
    width: 95%;
    padding: 1rem;
}

/* formulaire */
#form{
    display: flex;
justify-content: center;
    flex-wrap: wrap;

}
#todo-list input{
    width: 100%;
    color: rgb(44, 43, 43);
    font-size: 2rem;
    border: 1px solid grey;
    padding: 1rem;
    border: 1px dashed rgb(105, 19, 105); /*couleur de bordure*/
    border-width: 0px 0px 1px 0px;/*ligne inférieure seulement*/
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
#todo-list input:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
button{
    background-color: transparent;
    border: none;
    width: 8rem;
    height:8rem;
    font-size: 4rem;
}
.item{
    text-align: justify;
    margin: 1rem;
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
    font-size: 5rem;
    color: rgb(10, 10, 10);
    display: flex;/*pour aligner <p> et <button>*/
    align-items: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.todo{
    text-align: justify;
    margin: 1rem;
    
    font-size: 2rem;
    color: rgb(10, 10, 10);
    display: flex;/*pour aligner <p> et <button>*/
    align-items: center;
    flex-direction: column;

}
.date{
    text-align: justify;
    margin: 1rem;
    
    font-size: 3rem;
    color: rgb(250, 250, 250);
    display: flex;/*pour aligner <p> et <button>*/
    align-items: flex-end;
    flex-direction: column;

}
.item p{
    flex: 1;/*pour prendre le plus de place possible*/
    padding: 2rem;
}
.item button{
    font-size: 6rem;
    margin: 1rem;
}
.item button.btn-archive{
    font-size: 4rem;
    background-color: rgb(128, 205, 128);
}
.item button.btn-delete{
    font-size: 4rem;
    background-color: rgb(188, 102, 102);
}
.done{
    text-decoration: line-through;
}

.fa-trash-alt, .fa-check-circle{
    pointer-events : none; /*Permet de ne pas ajouter un événement à cet élément*/

}
         



 